.clients {
  display: inline-block;
  width: calc(100% - 70px);
  height: auto;
  padding: 15px;
  overflow-y: scroll;
  background-color: $clients;
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__controls {
    padding-bottom: 15px;
    border-bottom: 1px solid $separator;
  }

  &__search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 15px;
  }

  &__all {
    color: #797880;
    font-weight: 500;
    font-size: 15px;
  }

  &__add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    background-color: $clients_btn;
    border-radius: 15px;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 3px 3px 8px rgba(black, 0.2);
    }
  }

  &__list {
    margin: 15px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-top: 10px;
    padding: 22px;
    color: black;
    background-color: white;
    border-radius: 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-weight: 500;

    line-height: 19px;
  }

  &__name {
    margin: 0;
    font-size: 10px;
  }

  &__icon {
    display: inline-flex;
    width: auto;

    svg {
      width: 15px;
      height: 15px;
      cursor: pointer;

      &:first-child {
        margin-right: 5px;
        color: $vk_color;
        fill: $vk_bg;
      }

      &:last-child {
        margin-right: 0;
        color: $whatsup_color;
        fill: $whats_up_bg;
      }
    }
  }

  &__field {
    display: flex;
    align-items: center;

    a {
      color: inherit;
      font-size: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__from {
    font-size: 10px;
  }
}

.filtr {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    fill: $clients_icon;
  }

  span {
    cursor: pointer;
  }
}

.search {
  &__form {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 0 30px 0 15px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #c3c2c9;
    border-radius: 15px;

    &::placeholder {
      color: #7d7c85;
    }

    &::-moz-placeholder {
      color: #7d7c85;
    }
  }

  &__button {
    position: absolute;
    top: 4px;
    right: 11px;
    width: 16px;
    height: 16px;
  }

  &__btn {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.contacts__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: $user_icon;
}

@media (min-width: 375px) {
  .clients {
    &__name {
      font-size: 18px;
    }

    &__field {
      a {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &__who {
      font-size: 14px;
      line-height: 16px;
    }

    &__date {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (min-width: 500px) {
  .clients {
    &__icon {
      margin-left: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__field {
      &:first-child {
        .contacts__icon {
          width: 16px;
          height: 9px;
        }
      }

      &:nth-child(2) {
        .contacts__icon {
          width: 10px;
          width: 10px;
        }
      }

      &:nth-child(3) {
        .contacts__icon {
          width: 12px;
          width: 12px;
        }
      }
    }

    &__from {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__who {
      .contacts__icon {
        width: 12px;
        height: 12px;
      }
    }

    &__date {
      .contacts__icon {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  .clients {
    position: absolute;
    top: 130px;
    left: 70px;
    height: calc(100vh - 130px);
    padding: 20px 10px 20px 40px;

    &__controls {
      display: flex;
      align-items: center;
    }

    &__filtr {
      border-right: 1px solid $separator;
    }

    &__search {
      display: flex;
      width: 70%;
      padding: 0 20px;
    }

    &__list {
      display: flex;
      flex-flow: row wrap;
    }

    &__item {
      width: calc(33.3333% - 10px);
      margin-top: 0;
      margin-top: 10px;
      margin-right: 10px;

      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(3) {
        margin-top: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &__from {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__add {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    border-right: 1px solid $separator;

    &__form {
      display: flex;
      align-items: center;
      width: 230px;
      height: 40px;
    }

    &__input {
      width: 230px;
      height: 40px;
    }

    &__button {
      top: 8px;
    }

    p {
      margin: 0;
    }
  }

  .left {
    &__item {
      margin-top: 15px;
      &:nth-child(2) {
        margin-top: 40px;
      }

      &:last-child {
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: 1305px) {
  .clients {
    &__controls {
      width: 1176px;
    }

    &__list {
      display: flex;
      flex-flow: row wrap;
      width: 1176px;
      margin-top: 20px;
    }

    &__field {
      margin-top: 5px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 15px;
      }
    }

    &__item {
      width: calc(279px);
      margin-top: 0;
      margin-top: 20px;
      margin-right: 20px;

      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(3) {
        margin-top: 0;
      }

      &:nth-child(4) {
        margin-top: 0;
      }

      &:nth-child(3n) {
        margin-right: 20px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    &__from {
      flex-direction: row;
      align-items: center;
    }
  }
}
