$menu_active: #29006c;
$color: #9c9ba6;
$clients: #e5e5e5;
$clients_icon: #b4b3bb;
$clients_btn: #481e8c;
$vk_bg: #4a76a8;
$vk_color: #fff;
$whats_up_bg: #26d367;
$whatsup_color: #fff;
$user_icon: #bfc0c4;
$separator: #d1d1d1;
